.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    border-bottom: 1px solid #F4F4F4;
    position: fixed;
    margin-left: 10%;
    background-color: #fff;
}

.navinput_container{
    display: flex;
    align-items: center;
    background-color:#F4F4F4;
    width: 50%;
    height: 42px;
    margin-left: 20px;
}

.navinput_container input{
    height: 100%;
    margin-left: 10px;
    background: none;
    outline: none;
    border: none;
    border-right: 0.5px solid #ffffff;
    flex: 1;
}

.searchimg_container{
    width: 60px;
    display: flex;
    justify-content: center;
    
}

#nav_messageicon{
    width: 30px;
    height: auto;
}

#nav_notificationicon{
    width: 26px;
    height: auto;
}

.patient_logout_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient_logout_container p{
    color:#035B96;
    margin-left: 5px;
}

.time_container{
    background-color:#035B96;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 10%;
}

.time{
    color: white;
    font-size: 25px;
}

.date{
    color: white;
    font-size: 14px;
}